<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather api</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>Url format: http://127.0.0.1:5000/api/v1/station/date</p>                 <!--we can write anything after 5000 to make a url.-->
    <p>Url Example: http://127.0.0.1:5000/api/v1/10/1999-12-30</p>
    <p> change stations and date in url to see different temperature </p>
    <p>STAID refers to station ID</p>
    <p>{{data|safe}}</p>                                              <!--double curly special syntax for applying data from stations.txt file -
</body>
</html>